@model Restaurant_DCI.Models.Order
<h3 class="text-center">Twoje zamówienie</h3>
@if (Session["idUser"] == null)
{
    <p>Aby złożyć zamówienie @Html.ActionLink("Zaloguj się", "Login", "Account", null, new { @class = "nav-link" }) lub @Html.ActionLink("Załóż konto.", "Register", "Account", null, new { @class = "nav-link" })</p>

}
else
{
    if (Model.OrderItems != null && Model.OrderItems.Count >0)
    {
        foreach (var item in Model.OrderItems)
        {
        <div class="list-group-item list-group-item-action">
            <div class="row">
                <div class="col-xl-10">
                    <h5 class="alert-heading">@Html.DisplayTextFor(m => item.Product.Name)</h5>
                </div>
                <div class="col-xl-2 text-right"><p>@Html.DisplayTextFor(m => item.Price)zł</p></div>
            </div>
        </div>
        }
    }else
    { 
        <h5 class="text-center">Koszyk jest pusty.</h5>
    }
}
